<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sticky Notes</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css'>
  <link rel="stylesheet" href="C:\Users\DELL\Desktop\task project\static\sticky.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="noteHolder" style="left:400px;">
<input type="checkbox" id="fold1">
<div class="note rounded">
 <textarea id="note-1">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</textarea>
</div>
  <div class="action">
    <div class="colors">
      <div class="note-yellow"></div>
      <div class="note-green"></div>
      <div class="note-levendor"></div>
      <div class="note-orange"></div>
    </div>
    <button type="button" class="btn btn-edit"><i class="fa fa-palette"></i></button>
    <button type="button" class="btn btn-del"><i class="fa fa-trash"></i></button>
  </div>
</div>
<button class="btn btn-add"><i class="fa fa-plus"></i></button>
<!-- partial
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/promise-polyfill'></script>-->
<script  src="C:\Users\DELL\Desktop\task project\static\sticky.js"></script> 

</body>
</html>
